// -*- mode: yaml -*-
snmp.v3.0:
  authlevel: "authPriv"
  authname: "monitor"
  authpass: "******"
  authalgo: "SHA-256"
  cryptopass: "******"
  cryptoalgo: "AES"
snmp.v3.1:
  authlevel: "authNoPriv"
  authname: "******"
  authpass: "******"
  authalgo: "MD5"
